.point-facet-1 {
    clip-path: polygon(9% 13%, 73% 9%, 75% 100%, 0% 100%);
    width: 250px;
    height: 250px;
    padding-top: 20px;
    padding-left: 70px;
}

.point-facet-2 {
    clip-path: polygon(10% 3%, 73% 9%, 75% 100%, 3% 93%);
    width: 250px;
    height: 250px;
    padding-left: 70px;
    padding-top: 20px;
}

.point-facet-1,
.point-facet-2>p {
    font-size: 128px;
    color: white;
}

.bread {
    background: #DEAA70;
    height: 50px;
    width: 200px;
}

.empty-bread {
    border: 2px white dotted;
    height: 50px;
    width: 200px;
}

.bread-middle {
    background: #DEAA70;
    height: 30px;
    width: 200px;
}

.empty-bread-middle {
    border: 2px white dotted;
    height: 30px;
    width: 200px;
}

.salad {
    background: #5F8547;
    height: 10px;
    width: 200px;
}

.empty-salad {
    border: 2px white dotted;
    height: 10px;
    width: 200px;
}

.meat {
    background: #8D5341;
    height: 20px;
    width: 200px;
}

.empty-meat {
    border: 2px white dotted;
    height: 20px;
    width: 200px;
}

.cheese {
    background: #E0C800;
    height: 20px;
    width: 200px;
}

.empty-cheese {
    border: 2px white dotted;
    height: 20px;
    width: 200px;
}

.tomato {
    background: #C87269;
    height: 20px;
    width: 200px;
}

.empty-tomato {
    border: 2px white dotted;
    height: 20px;
    width: 200px;
}

.cup {
    background: #71CFFF;
    height: 250px;
    width: 150px;
}

.empty-cup {
    border: 2px white dotted;
    height: 250px;
    width: 150px;
}

.top-cup {
    background: #ABC7F8;
    height: 10px;
    width: 150px;
}

.empty-top-cup {
    border: 2px white dotted;
    height: 10px;
    width: 150px;
}

.straw {
    background: red;
    height: 80px;
    width: 10px;
}

.empty-straw {
    border: 2px white dotted;
    height: 80px;
    width: 10px;
}

.salt {
    background: white;
    border: 2px darkgray solid;
    width: 50px;
    height: 50px;
}

.empty-salt {
    border: 2px white dotted;
    width: 50px;
    height: 50px;
}

.empty-pepper {
    border: 2px white dotted;
    width: 50px;
    height: 50px;
}

.pepper {
    background: gray;
    width: 50px;
    height: 50px;
}

.mayo {
    background: #E0C800;
    height: 100px;
    width: 20px;
}

.ketchup {
    background: #C71000;
    height: 100px;
    width: 20px;
}

.empty-mayo {
    border: 2px white dotted;
    height: 100px;
    width: 20px;
}

.empty-ketchup {
    border: 2px white dotted;
    height: 100px;
    width: 20px;
}

.bucket {
    background: #C71000;
    height: 180px;
    width: 200px;
}

.empty-bucket {
    border: 2px white dotted;
    height: 180px;
    width: 200px;
}

.frie {
    background: #E0C800;
    height: 60px;
    width: 15px;
}

.empty-frie {
    border: 2px white dotted;
    height: 60px;
    width: 15px;
}

/*** Avec Images ***/

.empty-bread-img {
    background: url('../images/burger/empty-base-burger.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 60px;
    margin-top: -5px;
}

.bread-img {
    background: url('../images/burger/base-burger.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 60px;
    margin-top: -5px;
}

.empty-salad-img {
    background: url('../images/burger/empty-salad.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 40px;
    margin-left: 15px;
}

.salad-img {
    background: url('../images/burger/salad.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 40px;
    margin-left: 15px;
}

.empty-base-meat-img {
    background: url('../images/burger/empty-base-meat.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 45px;
    margin-left: 25px;
}

.base-meat-img {
    background: url('../images/burger/base-meat.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 45px;
    margin-left: 15px;
}

.empty-base-tomato-img {
    background: url('../images/burger/empty-base-tomato.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 45px;
    margin-left: 10px;
}

.base-tomato-img {
    background: url('../images/burger/base-tomato.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 45px;
    margin-left: 10px;
}

.empty-bread-middle-img  {
    background: url('../images/burger/empty-middle-burger.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 35px;
    margin-left: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.bread-middle-img  {
    background: url('../images/burger/middle-burger.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 40px;
    margin-left: 15px;
    margin-bottom: -15px;
}

.empty-cheese-img {
    background: url('../images/burger/empty-cheese.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 40px;
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: -15px;
}

.cheese-img {
    background: url('../images/burger/cheese.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 40px;
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: -15px;
}

.empty-top-meat-img {
    background: url('../images/burger/empty-top-meat.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 40px;
    margin-left: 30px;
}

.top-meat-img {
    background: url('../images/burger/top-meat.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 40px;
    margin-left: 30px;
    margin-bottom: -10px;
}

.empty-top-tomato-img {
    background: url('../images/burger/empty-top-tomato.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 40px;
    margin-left: 20px;
}

.top-tomato-img {
    background: url('../images/burger/top-tomato.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 40px;
    margin-left: 20px;
}

.empty-top-bread-img {
    background: url('../images/burger/empty-top-bread.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 80px;
    margin-left: 30px;
    margin-bottom: -10px;
}

.top-bread-img {
    background: url('../images/burger/top-bread.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 80px;
    margin-left: 30px;
    margin-bottom: -10px;
}

.empty-cup-img {
    background: url('../images/burger/empty-cup.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 280px;
    margin-top:25px;
    margin-left: -30px;
}

.cup-img {
    background: url('../images/burger/cup.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 280px;
    margin-top:25px;
    margin-left: -30px;
}

.empty-top-cup-img {
    background: url('../images/burger/empty-top-cup.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px;
    margin-bottom:-60px;
    margin-left: -30px;
}

.top-cup-img {
    background: url('../images/burger/top-cup.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px;
    margin-bottom:-60px;
    margin-left: -30px;
}

.empty-straw-img {
    background: url('../images/burger/empty-straw.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px; 
    margin-left: -15px;
}

.straw-img {
    background: url('../images/burger/straw.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px; 
    margin-left: -15px;
}

.straw-img {
    background: url('../images/burger/straw.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px; 
    margin-left: -15px;
}

.empty-salt-pepper-img {
    background: url('../images/burger/empty-salt-pepper.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 60px; 
    margin-top: 15px;
}

.salt-pepper-img {
    background: url('../images/burger/salt-pepper.png') no-repeat;
    background-size:contain;
    width: 180px;
    height: 60px;     
    margin-top: 15px;
}

.empty-mayo-img {
    background: url('../images/burger/empty-mayo-ketchup.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px; 
    margin-left: 15px;    
    margin-top: 25px; 
}

.empty-ketchup-img {
    background: url('../images/burger/empty-mayo-ketchup.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px; 
    margin-left: 15px;
    margin-top: 25px;     
}

.mayo-img {
    background: url('../images/burger/tube-mayo.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px; 
    margin-left: 15px;    
    margin-top: 25px; 
}

.ketchup-img {
    background: url('../images/burger/tube-ketchup.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 100px; 
    margin-left: 15px;
    margin-top: 25px;
}

.empty-bucket-img {
    background: url('../images/burger/empty-bucket.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 180px; 
}

.bucket-img {
    background: url('../images/burger/bucket.png') no-repeat;
    background-size:contain;
    width: 200px;
    height: 180px; 
}

.empty-frie-1-img {
    background: url('../images/burger/empty-frie-1.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px;   
}

.frie-1-img {
    background: url('../images/burger/frie-1.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px; 
}

.empty-frie-2-img {
    background: url('../images/burger/empty-frie-2.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px; 
}

.frie-2-img {
    background: url('../images/burger/frie-2.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px; 
}

.empty-frie-3-img {
    background: url('../images/burger/empty-frie-3.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px; 
}

.frie-3-img {
    background: url('../images/burger/frie-3.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px; 
}

.empty-frie-4-img {
    background: url('../images/burger/empty-frie-4.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px; 
}

.frie-4-img {
    background: url('../images/burger/frie-4.png') no-repeat;
    background-size:contain;
    width: 50px;
    height: 80px; 
}
