html,
body {
    height: 100%;
    overflow: hidden;
    background: black !important;
    overflow-y: auto;	
}

#modal-buzz {
    height: 100%;
    display: none;
}

.lock-buzz-button {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* msie */
    background-color: #000;
}

#game-background {
    padding: 1%;
}

#modal-transition {
    display: none;
}

#modal-buzz-first-ketchup {
    position:absolute;
    z-index:99;
    top:25px;
    left: 25px;
    display: none;
}

#modal-buzz-first-mayo {
    position:absolute;
    z-index:99;
    top:60%;
    left: 25px;
    display: none ;
}

#modal-buzz-first-mayo > input[type="image"] {
    height: 150px;
}

#modal-buzz-first-ketchup > input[type="image"] {
    height: 150px;
}

.point-ketchup {
    background: #C71000;
    width: 140px;
    height: 140px;
}

.point-mayo {
    background: #E0C800;
    width: 140px;
    height: 140px;
}

.point-mayo,
.point-ketchup>p {
    font-size: 112px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

.base-button {
    font-size: 112px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    border-radius: 4px;
    border: none;
    text-align: top;
    line-height: 0px;
    width: 100px;
    height: 100px;
}

.base-button:hover {
    cursor: pointer;
}

.button-ketchup {
    background: #C71000;
}
.button-ketchup:active {
    background: #AE0E00;
}

.button-mayo {
    background: #E0C800;
}
.button-mayo:active {
    background: #C7B100;
}

.test-container {
    border: 1px black solid;
}

.mayo-color {
    background: #E0C800;
}

.ketchup-color {
    background: #C71000;
}

/**************************/
/*       ECRAN BUZZER     */
/**************************/

.container-buzzer{
    max-width: 500px;
}

.container-buzzer #buzz-button{
    display: block;
    width: 100%;
    height: auto;
    /* Permet de ne pas faire de zoom 
    Lorsque l'utilisateur est sur mobile et qu'il spam le click
    FIX : IOS Safari */
    touch-action: manipulation;
}

.container-buzzer .lock-buzz-button {
    opacity: 0.4;
    filter: alpha(opacity=40);
    background-color: #000;
}

.buzzer-container-team {
    width: 150px;
    margin: 10px;
}

.buzzer-container-team img {
    display: block;
    width: 100%;
    height: auto;
}