<!DOCTYPE html>
<html>

<head>
  <title>Telecommande Admin</title>
  <% include ./partials/header %>
  <!-- Permet de ne pas faire de zoom 
    Lorsque l'admin est sur mobile et qu'il click sur un bouton plusieurs fois-->
  <meta name='viewport' content='user-scalable=0' />
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div>
        <img src="./images/backgrounds/menus.svg" width="500px;" />
      </div>
    </div>
    <div class="jumbotron mt-4">
      <div class="row justify-content-center">
        <h1>Télécommand Admin</h1>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-sm-6 text-center">
          <input id="button-add-point-ketchup" type="button" class="base-button button-ketchup" value="+" />
          <input id="button-remove-point-ketchup" type="button" class="base-button button-ketchup" value="-" />
        </div>
        <div class="col-lg-6 col-sm-6 text-center">
          <input id="button-add-point-mayo" type="button" class="base-button button-mayo" value="+" />
          <input id="button-remove-point-mayo" type="button" class="base-button button-mayo" value="-" />
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <input class="btn btn-success btn-lg mr-2" type="button" value="Next Transition >" id="button-next-transition" />
      </div>
      <div class="row justify-content-center mt-4">
        <input class="btn btn-success btn-lg mr-2" type="button" value="Débloquer buzzer" id="button-unlock-buzz" />
        <input class="btn btn-secondary btn-lg" type="button" value="Bloquer buzzer" id="button-lock-buzz" />
      </div>
      <div class="row justify-content-center mt-4">
        <input class="btn btn-success btn-lg" type="button" value="Recharger partie" id="button-reload-part" />
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/client-admin.js"></script>

</html>