<!DOCTYPE html>
<html>

<head>
    <title>Buzzer</title>
    <% include ./partials/header %>
    <!-- Permet de ne pas faire de zoom 
    Lorsque l'utilisateur est sur mobile et qu'il spam le click -->
    <meta name='viewport' content='user-scalable=0' />
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-end h-25">
            <!-- Affichage du logo de l'équipe -->
            <div class="buzzer-container-team">
                <img alt="Logo équipe" src="./images/teams/<%= team === 'team-mayo' ? 'mayo.svg' : 'ketchup.svg' %>">
            </div>
        </div>
        <div class="row justify-content-around h-75" id="buzzer-container">
            <div class="mx-auto container-buzzer">
                <input type="hidden" value="<%= team %>" id="team-hf-val" />
                <input id="buzz-button" type="image" src="./images/buzzer/burger-buzzer.png" />
            </div>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/client-buzzer.js"></script>

</html>