<!DOCTYPE html>
<html>

<head>
    <title>Buzzer</title>
    <% include ./partials/header %>
</head>

<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="mx-auto">
                <button>
                    <%= team %></button>
            </div>
        </div>
    </div>
</body>

</html>