<!DOCTYPE html>
<html>

<head>
    <title>Burger Quiz</title>
    <% include ./partials/header %>
    <link href="./css/game.css" rel="stylesheet" />
</head>

<body>
    <div id="game-background">
        <!-- Ecran Ketchup -->
        <div class="row h-50 mt-2" id="team-ketchup">
            <div class="col">
                <div class="container d-flex h-100">
                    <div class="row h-100 row justify-content-center align-self-center">
                        <div class="col">
                            <div data-points="10" id="head-bread-k" class="empty-top-bread-img"></div>
                            <div data-points="9" id="head-tomato-k" class="empty-top-tomato-img"></div>
                            <div data-points="8" id="head-meat-k" class="empty-top-meat-img"></div>
                            <div data-points="7" id="cheese-k" class="empty-cheese-img"></div>
                            <div data-points="6" id="head-head-k" class="empty-salad-img"></div>
                            <div data-points="5" id="bread-middle-k" class="empty-bread-middle-img"></div>
                            <div data-points="4" id="base-tomato-k" class="empty-base-tomato-img"></div>
                            <div data-points="3" id="base-meat-k" class="empty-base-meat-img"></div>
                            <div data-points="2" id="base-salad-k" class="empty-salad-img"></div>
                            <div data-points="1" id="base-bread-k" class="empty-bread-img"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div data-points="13" id="straw-k" class="empty-straw-img"></div>
                <div data-points="12" id="top-cup-k" class="empty-top-cup-img"></div>
                <div data-points="11" id="cup-k" class="empty-cup-img"></div>
            </div>
            <div class="col">
                <div data-points="16" id="ketchup-k" class="empty-ketchup-img"></div>
                <div data-points="15" id="mayo-k" class="empty-mayo-img"></div>
                <div data-points="14" id="salt-pepper-k" class="empty-salt-pepper-img"></div>
            </div>
            <div class="col">
                <div class="row ml-2">
                    <div data-points="22" id="frie-3-k" class="empty-frie-1-img"></div>
                    <div data-points="23" id="frie-4-k" class="empty-frie-2-img"></div>
                    <div data-points="24" id="frie-5-k" class="empty-frie-3-img"></div>
                    <div data-points="25" id="frie-1-k" class="empty-frie-4-img"></div>
                </div>
                <div class="row ml-2 mt-2">
                    <div data-points="18" id="frie-1-k" class="empty-frie-1-img"></div>
                    <div data-points="19" id="frie-1-k" class="empty-frie-2-img"></div>
                    <div data-points="20" id="frie-1-k" class="empty-frie-3-img"></div>
                    <div data-points="21" id="frie-1-k" class="empty-frie-4-img"></div>
                </div>
                <div data-points="17" id="bucket-k" class="empty-bucket-img"></div>
            </div>
            <div class="col">
                <!-- Section points -->
                <div class="row">
                    <div class="point-ketchup mr-2 d-flex justify-content-center">
                        <p id="point-ketchup-decade">0</p>
                    </div>
                    <div class="point-ketchup mr-2 d-flex justify-content-center">
                        <p id="point-ketchup-unit">0</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ecran Mayo -->
        <div class="row h-50" id="team-mayo">
            <div class="col">
                <div class="container d-flex h-100">
                    <div class="row h-100 row justify-content-center align-self-center">
                        <div class="col">
                            <div data-points="10" id="head-bread-m" class="empty-top-bread-img"></div>
                            <div data-points="9" id="head-tomato-m" class="empty-top-tomato-img"></div>
                            <div data-points="8" id="head-meat-m" class="empty-top-meat-img"></div>
                            <div data-points="7" id="cheese-m" class="empty-cheese-img"></div>
                            <div data-points="6" id="head-head-m" class="empty-salad-img"></div>
                            <div data-points="5" id="bread-middle-m" class="empty-bread-middle-img"></div>
                            <div data-points="4" id="base-tomato-m" class="empty-base-tomato-img"></div>
                            <div data-points="3" id="base-meat-m" class="empty-base-meat-img"></div>
                            <div data-points="2" id="base-salad-m" class="empty-salad-img"></div>
                            <div data-points="1" id="base-bread-m" class="empty-bread-img"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div data-points="13" id="straw-m" class="empty-straw-img"></div>
                <div data-points="12" id="top-cup-m" class="empty-top-cup-img"></div>
                <div data-points="11" id="cup-m" class="empty-cup-img"></div>
            </div>
            <div class="col">
                <div data-points="16" id="ketchup-m" class="empty-ketchup-img"></div>
                <div data-points="15" id="mayo-m" class="empty-mayo-img"></div>
                <div data-points="14" id="salt-pepper-m" class="empty-salt-pepper-img"></div>
            </div>
            <div class="col">
                <div class="row ml-2">
                    <div data-points="22" id="frie-3-m" class="empty-frie-1-img"></div>
                    <div data-points="23" id="frie-4-m" class="empty-frie-2-img"></div>
                    <div data-points="24" id="frie-5-m" class="empty-frie-3-img"></div>
                    <div data-points="25" id="frie-1-m" class="empty-frie-4-img"></div>
                </div>
                <div class="row ml-2 mt-2">
                    <div data-points="18" id="frie-1-m" class="empty-frie-1-img"></div>
                    <div data-points="19" id="frie-1-m" class="empty-frie-2-img"></div>
                    <div data-points="20" id="frie-1-m" class="empty-frie-3-img"></div>
                    <div data-points="21" id="frie-1-m" class="empty-frie-4-img"></div>
                </div>
                <div data-points="17" id="bucket-m" class="empty-bucket-img"></div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="point-mayo mr-2 d-flex justify-content-center">
                        <p id="point-mayo-decade">0</p>
                    </div>
                    <div class="point-mayo mr-2 d-flex justify-content-center">
                        <p id="point-mayo-unit">0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal permettant de scanner l'url des équipes & de pouvoir lancer la partie -->
    <div id="modal-prepare-game">
        <div class="qr-code-container">
            <input id="input-url-to-qr-code" type="hidden" value="<%= urlToGenerate %>"/>
            <div class="children">
                <div class="row justify-content-md-center">
                    <div class="col-12 d-flex justify-content-center">
                        <img class="title-img-bgq" src="./images/backgrounds/burger_quiz_title.png">
                    </div>
                    <div class="col-12">
                        <p class="title d-flex flex-wrap justify-content-center">
                            <span class="title-ketchup">Ketchup,</span>
                            <span class="title-mayo">Mayo,</span>
                            <span class="title-both">ou les deux ?</span>
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <canvas id="qr-code-canvas" title="Flash le Qr code pour accèder aux choix des équipes"></canvas>
                </div>
                <div class="row justify-content-center mt-4">
                    <input class="btn btn-success btn-lg mr-2" type="button" value="Tout le monde est prêt !"
                        id="button-everybody-ready" />
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Buzz -->
    <div id="modal-buzz"></div>

    <!-- Modals permettant d'afficher la première équipe a avoir buzz -->
    <div id="modal-buzz-first-ketchup">
        <input type="image" src="./images/teams/ketchup.svg" />
    </div>

    <div id="modal-buzz-first-mayo">
        <input type="image" src="./images/teams/mayo.svg" />
    </div>

    <!-- Modal Transition -->
    <div id="modal-transition" class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="mx-auto">
                <video id="video-transition-container">
                    <source id="source-transition" src="" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/qrcode/qrcode.min.js"></script>
    <script src="./js/client-game.js"></script>

</html>