<!DOCTYPE html>
<html>

<head>
    <title>Se connecter</title>
    <% include ./partials/header %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Authentification</h5>
                        <form class="form-signin" action="/login" method="post">
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" class="form-control" placeholder="Login" required
                                    name="username" autofocus>
                            </div>
                            <div class="form-label-group mt-4">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
                                    name="password" required>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>