<!DOCTYPE html>
<html>

<head>
    <title>Back Office Admin</title>
    <% include ../../partials/header %>
    <link href="/alertifyjs/css/alertify.min.css" rel="stylesheet" />
</head>
<% include ../partials/menu %>

<body class="bg-light">
    <div class="py-5 mt-4">
        <!-- <div class="container">
            <div class="float-right">
                <input type="button" class="btn btn-success" value="Enregistrer la partie">
            </div>
        </div> -->           
        <div class="container mt-4">
            <!-- Le menu -->
            <ul class="nav nav-tabs" id="tab-part" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="tab-part" data-toggle="tab" href="#part" role="tab">Partie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="tab-nuggets" data-toggle="tab" href="#nuggets" role="tab">Nuggets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-salt-pepper" data-toggle="tab" href="#salt-pepper" role="tab">Sel
                        ou Poivre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-menus" data-toggle="tab" href="#menus" role="tab">Menus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-addition" data-toggle="tab" href="#addition" role="tab">Addition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-death-burger" data-toggle="tab" href="#death-burger" role="tab">Burger
                        de la Mort</a>
                </li>
            </ul>
            <!-- Le contenu des différents onglets -->
            <div class="tab-content">
                <!-- Onglet partie -->
                <div class="tab-pane" id="part" role="tabpanel">
                    <div class="form-group mt-4">
                        <label>Titre :</label>
                        <input id="title-part" type="text" class="form-control" placeholder="Titre de la partie"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input id="description-part" type="text" class="form-control" placeholder="Description de la partie"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Image pour vignette</label>
                        <input id="image-part" type="text" class="form-control" placeholder="Url de l'image" required>
                    </div>
                </div>
                <!-- Onglet Nuggets -->
                <div class="tab-pane active" id="nuggets" role="tabpanel">
                    <div class="form-group mt-4">
                        <div class="row">
                            <div class="col-6">
                                <label>Question :</label>
                                <input id="question-nuggets" type="text" class="form-control" placeholder="Entrer une question ?"
                                    required>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Réponse A</label>
                                    <input id="response-a-nuggets" type="text" class="form-control" placeholder="Entrer la réponse A"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Réponse B</label>
                                    <input id="response-b-nuggets" type="text" class="form-control" placeholder="Entrer la réponse B"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Réponse C</label>
                                    <input id="response-c-nuggets" type="text" class="form-control" placeholder="Entrer la réponse C"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Réponse D</label>
                                    <input id="response-d-nuggets" type="text" class="form-control" placeholder="Entrer la réponse D"
                                        required>
                                </div>
                                <input id="button-add-question-nuggets" type="button" class="btn btn-success" value="Ajouter la question">
                                <input id="button-register-changes-question-nuggets" type="button" class="btn btn-success"
                                    value="Enregistrer les modifications">
                                <input id="button-cancel-changes-question-nuggets" type="button" class="btn btn-primary"
                                    value="Annuler les modifications">
                            </div>
                            <!-- Le tableau des questions créées -->
                            <div class="col-6">
                                <table id="table-nuggets-questions" class="table mt-4">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Question</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Onglet Sel ou Poivre -->
                <div class="tab-pane" id="salt-pepper" role="tabpanel">
                    <div class="form-group mt-4">
                        <label>Theme :</label>
                        <input type="text" class="form-control" placeholder="Theme ex : Christian clavier, un clavier ou les deux"
                            required>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>Question :</label>
                        <input type="text" class="form-control" placeholder="Entrer une question ?" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Réponse</label>
                        <input type="text" class="form-control" placeholder="Entrer la réponse" required>
                    </div>
                    <button type="submit" class="btn btn-success">Ajouter la question</button>
                </div>
                <!-- Onglet Menus -->
                <div class="tab-pane" id="menus" role="tabpanel">
                    ...
                </div>
                <!-- Onglet Addition -->
                <div class="tab-pane" id="addition" role="tabpanel">
                    <div class="form-group mt-4">
                        <label>Theme :</label>
                        <input type="text" class="form-control" placeholder="Theme ex : La Réponse Est Peut-Etre Dans La Question"
                            required>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>Question :</label>
                        <input type="text" class="form-control" placeholder="Entrer une question ?" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Réponse</label>
                        <input type="text" class="form-control" placeholder="Entrer la réponse" required>
                    </div>
                    <button type="submit" class="btn btn-success">Ajouter la question</button>
                </div>
                <!-- Onglet Burger de la mort -->
                <div class="tab-pane" id="death-burger" role="tabpanel">
                    <form class="mt-4">
                        <div class="form-group">
                            <label>Question :</label>
                            <input type="text" class="form-control" placeholder="Entrer une question ?" required>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Réponse</label>
                            <input type="text" class="form-control" placeholder="Entrer la réponse" required>
                        </div>
                        <button type="submit" class="btn btn-success">Ajouter la question</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/alertifyjs/alertify.min.js"></script>
<script src="/js/backoffice/models/Thematic.js"></script>
<script src="/js/backoffice/models/Part.js"></script>
<script src="/js/backoffice/services/servicePart.js"></script>

<html>